    <%= form_with(model: place, remote: true, html: {name: "placeForm", class: "p-2"} ) do |form| %>
      <% if place.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>
          <ul>
          <% place.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= form.hidden_field :name %>
      </div>
    
      <div class="field">
        <%= form.hidden_field :address %>
      </div>
    
      <div class="field">
        <%= form.hidden_field :latitude %>
      </div>
    
      <div class="field">
        <%= form.hidden_field :longitude %>
      </div>
    
      <div id="form-time">
        <div id="form-departure_time" class="field">
          <%= form.label :到着 %>
          <%= form.time_field :departure_time %>
        </div>
      
        <div id="form-arrival_time" class="field">
          <%= form.label :出発 %>
          <%= form.time_field :arrival_time %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
