<div class="modal fade" id="planModal" tabindex="-1" role="dialog" aria-labelledby="planModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: place, url: [plan, place], remote: true, class: "") do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="planModal"><%= @place.name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-horizontal" role="form">
          <% if place.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>
              <ul>
                <% place.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="field">
            <%= form.hidden_field :name %>
          </div>
        
          <div class="field">
            <%= form.hidden_field :address %>
          </div>
        
          <div class="field">
            <%= form.hidden_field :latitude %>
          </div>
        
          <div class="field">
            <%= form.hidden_field :longitude %>
          </div>
        
          <div id="form-time" style="display:inline-flex">
            <div id="form-departure_time" class="field">
              <%= form.label :到着 %>
              <%= form.time_field :departure_time %>
            </div>
            <P>&nbsp;&nbsp;&nbsp;</P>
            <div id="form-arrival_time" class="field">
              <%= form.label :出発 %>
              <%= form.time_field :arrival_time %>
            </div>
          </div>
          <div class="actions">
            <%= form.submit "更新", class:"update" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
