<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>到着:</strong>
  <%= place.set_departure_time %>
</p>

<p>
  <strong>出発:</strong>
  <%= place.set_arrival_time %>
</p>

<%= link_to 'Edit', edit_plan_place_path(@place) %> |
<%= link_to 'Back', places_path %>
